<html>
<head>
<style>
table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

h2 {
  text-align: center;
  font-family: Verdana, sans-serif;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <div>
        <h2>Books</h2>
        <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
        {{ range .books }}
        <tr>
            <td>{{ .Title }}</td>
            <td>{{ .Author }}</td>
            <td>{{ .ISBN }}</td>
        </tr>
        {{ end }}
        </table>
    </div>
<body>
</html>